<div class="card">
    <h4 class="card-header">
        {{viewBlog.title}}
    </h4>
    <div class="card-body bg-primary-subtle">
        <div class="row">
            <div class="col-4">
                <img src="../../assets/images/cardBackground.jpg" class="card-img" alt="...">
            </div>
            <blockquote class="blockquote mb-0 col-8">
                <p> {{viewBlog.body}}</p>
                <footer class="blockquote-footer">By <cite title="Source Title">author</cite></footer>
                <a href='../../blogs' class="btn btn-primary w-25">Go back to blog &#8594;</a>
            </blockquote>
        </div>
    </div>
</div>