<main>
    <div class="container">
        <div class="p-5 mb-4 bg-body-tertiary rounded-3 card shadow-lg bg-primary-subtle">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold text-transform-uppercase">Simple Blog Page App using Express</h1>
                <p class="col-md-8 fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. lores ducimus impedit ab non nihil
                    molestiae voluptatem quia vitae laborum! Cum, exercitationem!.</p>
                <h4>
                    Click below link to visit our blog page
                </h4>
                <a href="/blogs">Blogs Page --></a>
            </div>
        </div>
    </div>
</main>