.footer_wrap {
    background-color: #2196f3;
    padding: 30px 0;

    ul {
        color: rgba(0, 0, 0, .55);
        list-style-type: none;
        padding: 0;

        p {
            font-weight: 500;
        }

        li {}
    }
}